<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/formStyle1.css">
</head>
<body>
<form action="#" method="post" class="form-horizontal">
    <div class="form-group">
        <h1>Interests</h1>
        <div class="col-lg-10">
            <h3>In-door interests</h3>
            <repeat group="{{ @inside }}" value="{{ @in }}">
                <label class="col-2">
                <input type="checkbox" name="indoor[]" id="{{ @in }}" value="{{ @in}}" class="input">{{ @in}}
                </label>
            </repeat>

        </div>
        <div class="col-lg-10">
            <h3>Out-door interests</h3>
            <repeat group="{{ @outside }}" value="{{ @out }}">
                <label class="col-2">
                <input type="checkbox" name="outdoor[]" id="{{ @out }}" value="{{ @out}}">{{ @out}}
                </label>
            </repeat>
        </div>

    </div>
    <div class="col-xs-3  float-right">
        <input class="form-control btn btn-default rounded" id="submit"
               type="submit" value="Submit">
    </div>
</form>
</body>
</html>