<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/formStyle1.css">
</head>
<body>
<h1> Personal info</h1>
<hr>
<form action="#" method="post" class="form-horizontal">

    <label for="fname" class="col-sm-2 control-label">First name</label>

    <div class="col-md-7">
        <input class="form-control" type="text" name="fname" id="fname" value="{{@fname}}">
        <check if="{{ isset(@errors['fname']) }}">
            {{ @errors['fname'] }}
        </check>
    </div>
    <div id="floater" class="float-right col-4">
        <p class="rounded"><a id="first">Note: </a>All information entered is protected by our privacy policy. Profile information can only
        be viewed by others with your permission.</p>
    </div>
    <label for="lname" class="col-md-2 control-label">Last name</label>
    <div class="col-md-7">
        <input class="form-control" type="text" name="lname" id="lname" value="{{@lname}}">
        <check if="{{ isset(@errors['lname']) }}">
            {{ @errors['lname'] }}
        </check>
    </div>
    <label for="age" class="col-md-2 control-label">Age</label>
    <div class="col-md-7">
        <input class="form-control" type="text" name="age" id="age" value="{{@age}}">
        <check if="{{ isset(@errors['age']) }}">
        {{ @errors['age'] }}
        </check>
    </div>
    <label for="male" class="col-md-2 control-label">Gender</label>
    <div>
        <input type="radio" name="gender" id="male" value="male">Male<br>
        <input type="radio" name="gender" id="female" value="female">Female<br>
    </div>
    <label for="phone" class="col-md-2 control-label">Phone Number</label>
    <div class="col-md-7">
        <input class="form-control" type="text" name="phone" id="phone" value="{{@phone}}">
    <check if="{{ isset(@errors['phone']) }}">
        {{ @errors['phone'] }}
    </check>
    </div>
    <div>
        <input type="checkbox" class="custom-checkbox" id="checkbox" name="checkbox" value="true">
        <label for="checkbox">
            Sign me up for a Premium Account!
        </label>
    </div>
    <div class="col-xs-3 float-right " id="submit">
        <input class="form-control btn btn-default"
               type="submit" value="next>>">
    </div>
</form>
</body>
</html>