<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1> Personal info</h1>
<form action="#" method="post" class="form-horizontal">
    <label for="fname" class="col-sm-2 control-label">First name</label>

    <div class="col-sm-4">
        <input class="form-control" type="text" name="fname" id="fname">
    </div>
    <label for="lname" class="col-sm-2 control-label">Last name</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="lname" id="lname">
    </div>
    <label for="age" class="col-sm-2 control-label">Age</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="age" id="age">
    </div>
    <label for="male" class="col-sm-2 control-label">Gender</label>
    <div>
        <input type="radio" name="gender" id="male" value="male">Male<br>
        <input type="radio" name="gender" id="female" value="female">Female<br>
    </div>
    <label for="phone" class="col-sm-2 control-label">Phone Number</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="phone" id="phone">
    </div>
    <div class="col-xs-3 ">
        <input class="form-control btn btn-default"
               type="submit" value="next>>">
    </div>
</form>
</body>
</html>