<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/myStyles.css">
    <title>Cupids Work</title>
</head>
<body>
<div>
    <div id="innerDiv" class="rounded">
        <img class="col-4 float-right" src="images/index.jpeg" alt="Homepage image">
        <h1 class="display-4">Hello and welcome!</h1>
        <p id="maintext" class="col-6">Welcome to Cupids Work. Cupids Work is the most successful dating site on the web
            today. We match like minded
            individuals based off interests and location. With over a million matches and counting, Join us to find out
            what makes us so good.</p>
        <p>
        <h3>See What others say about us</h3>
        <hr class="my-4">
        <ul>
            <p>One of the best dating sites i've ever used! - janet</p>
            <p>I cant believe how easy it was to set up. Just your name, Email, intrests, and a photo and your off to
                go! - Shelia</p>
            <p></p>
        </ul>

        </p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up Today</a>
        </p>
    </div>
</div>
</body>
</html>