<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/formStyle1.css">
</head>
<body>
<div class="col-4 img float-sm-right">
    <img src="images/images.png" alt="Blank profile picture" class="float-right">
</div>

<div id='info' class="col-4 summary">
    <p>Name: {{@SESSION.fname}} {{@SESSION.lname}}</p>
    <hr>
    <p>Gender: {{@SESSION.gender}}</p>
    <hr>
    <p>Age: {{@SESSION.age}}</p>
    <hr>
    <p>Phone: {{@SESSION.phone}}</p>
    <hr>
    <p>Email: {{@SESSION.email}}</p>
    <hr>
    <p>State: {{@SESSION.state}}</p>
    <hr>
    <p>Seeking: {{@SESSION.seek}}</p>
    <hr>
    <p>Interests:
        <repeat group="{{@SESSION.indoor}}" value="{{@in}}">
            {{@in}},
        </repeat>
        <repeat group="{{@SESSION.outdoor}}" value="{{@out}}">
            {{@out}},
        </repeat>
    </p>
</div>
<div>

    <p id="bio" class="float-right">
        biography<br>
        {{@SESSION.bio}}</p>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <input class="form-control btn btn-default rounded" id="submit"
            type="submit" value="ContactMe" formaction="#">
        </div>
    </div>
</div>
</body>
</html>